{% extends "base.html" %}

{% block content %}
    <h1>All Blogs</h1>

    {% if blogs|length == 0 %}
        <p>No blogs yet</p>

    {% else %}
        {% for blog in blogs %}
            <a href="./blog?id={{blog.id}}"><h2>{{blog.title}}</h2></a>
            <p>{{blog.body}}</p>
            
            {% for user in users %}
                {% if user.id == blog.owner_id %}
                    <h6>written by <a href="./?user={{user.id}}">{{user.username}}</a></h6>
                {% endif %}
            {% endfor %}
        <hr />
        {% endfor %}
    {% endif %}
{% endblock %}